---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Day 1">
  <h1>Day 1</h1>

  <div class="container">
    <div class="box">
      <h1>Lorem Ipsum</h1>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet nulla beatae
      quod placeat magnam at quam. Vero commodi inventore nihil repellat eveniet,
      obcaecati quibusdam blanditiis, consectetur iste exercitationem quis assumenda.
    </div>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    padding: 2rem;
  }
</style>
